<link rel="stylesheet" href="/css/form.css">
<article class="post">
  <!-- <div class="post-header"> -->
  <!--   <h2>Talk to Nguyen</h2> -->
  <!-- </div> -->
  <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf8Sl2SK1QbL0bJha5hRnmJKPCr9Jo7zYM8NkRiMiWvT61COw/viewform?embedded=true" width="640" height="640" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf8Sl2SK1QbL0bJha5hRnmJKPCr9Jo7zYM8NkRiMiWvT61COw/viewform?embedded=true" width="640" height="640" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  <!-- <script type="text/javascript">var submitted=false;</script> -->
  <!-- <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" -->
  <!-- onload="if(submitted) {window.location='/thankyou';}"></iframe> -->
  <!-- <form action="https://docs.google.com/forms/d/e/https://docs.google.com/forms/d/e/1FAIpQLSf8Sl2SK1QbL0bJha5hRnmJKPCr9Jo7zYM8NkRiMiWvT61COw/formResponse/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true"> -->
  <!--   <label>Email*</label> -->
  <!--   <input type="email" placeholder="Email address*" class="form-input" name="entry.1465546343" required> -->
  <!--   <label>Lời nhắn tới Nguyên</label> -->
  <!--   <textarea rows="5" placeholder="Lời nhắn của bạn*" class="form-input" name="entry.740465421" ></textarea> -->
  <!--   <button type="submit">Send</button> -->
  <!-- </form> -->
</article>
